// Copyright (c) 2018 Tildes contributors <code@tildes.net>
// SPDX-License-Identifier: AGPL-3.0-or-later

.empty {
  background: inherit;
  color: inherit;
}

.empty-list {
  list-style-type: none;

  li {
    max-width: unset;
  }
}
